---
const { imgSrc, alt, title, description, tags = [], projectLink = "", id = "" } = Astro.props;
---

<div class="art-piece" id={id} data-tags={tags.join(" ")}>
  <img src={imgSrc} alt={alt} />
  <p><strong>{title}</strong> – {description}</p>

  {tags.length > 0 && (
    <div class="tags">
      {tags.map((tag: string) => <span class="tag">{tag}</span>)}
    </div>
  )}

  {projectLink && (
    <div class="project-link">
      <a href={projectLink}>View Project →</a>
    </div>
  )}
</div>
